.authForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  font-size: 2rem;
}

.message {
  font-size: 1.6rem;
  font-style: italic;
}

.inputBlock {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.authForm h1 {
  font-size: 2.4rem;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .message {
    font-size: 2rem;
  }
}