.input {
  border: 1px solid #000;
  border-radius: none;
  font-size: 1.6rem;
  padding: 5px;
  width: 300px;
}

.input:focus {
  outline: 2px solid #000;
}

input[type='password'] {
  font-family: sans-serif;
}
